<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-right-spec">
                <div>
                <span class="p-tag">Fashion</span>
                <h1 class="mt-4">Rasma Raj</h1>               
                <p class="p-desc mt-3 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#" class="p-readmore">Read More &nbsp;<i class="fa-solid fa-caret-right"></i></a>
            </div>
            </div>
        </div>
    </div>
</section>
